  <footer class="footer">
    <div class="contenedor">
      <div class="contenedor-izquierda">
        <span class="logo">©</span>
        <p class="datos"> {{ 'footer.copyright' | translate}}</p>
      </div>
      <p class="datos">mmgarciasandra&#64;gmail.com</p>
      <div class="links">
        <a href="https://www.linkedin.com/in/sandrammg" target="_blank" class="iconos"><img src="assets/images/ln.svg"></a>
        <a href="https://github.com/smmonino" target="_blank" class="iconos"><img src="assets/images/github.svg"></a>
      </div>
    </div>
  </footer>