  <footer class="footer">
    <div class="contenedor">
      <div class="contenedor-izquierda">
        <span class="logo">©</span>
        <p class="datos"> {{ 'footer.copyright' | translate}}</p>
      </div>
      <div class="links">
        <a href="https://linkedin.com" target="_blank" class="iconos"><img src="https://th.bing.com/th/id/R.a08f59f44e32ab5f5fe579b7b4088b97?rik=3E5gaOcXYtlNqw&riu=http%3a%2f%2fpluspng.com%2fimg-png%2flinkedin-icon-png--1600.png&ehk=hT4qxxosZ6XpSngPePNTaISdBNvqL%2fIw9mStnfVAkdg%3d&risl=&pid=ImgRaw&r=0"></a>
        <a href="https://github.com" target="_blank" class="iconos"><img src="https://www.svgrepo.com/show/439171/github.svg"></a>
      </div>
    </div>
  </footer>