.navbar {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  height:  68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background: rgba(#080a0e, 0.8);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid  rgba(255, 255, 255, 0.06);
  transition: background 0.3s;

}
 
.izquierda-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
 
.botones-iconos {
  background-color: bisque;
  width: 38px; height: 38px;
  border-radius: 8px;
  border: 1px solid  rgba(255, 255, 255, 0.06);
  display: flex; 
  align-items: center; 
  justify-content: center;
  color: #7a8fa8;
  font-size: 1rem;
  transition: all 0.2s;
  &:hover {
    border-color: #ffe263;
    color: #ffe263;
    background: #ffffff;
  }
}
 
.derecha-nav{
  display: flex;
  align-items: center;
  gap: 28px;
}
 
.links-internos {
  font-size: 0.88rem;
  font-weight: 400;
  color: #7a8fa8;
  position: relative;
  transition: color 0.2s;
  &::after {
    content: '';
    position: absolute;
    bottom: -3px; left: 0;
    width: 0; height: 1px;
    background:  #ffe263;
    transition: width 0.25s ease;
  }
  &:hover, &.active {
    color: #f0f6ff;
    &::after { width: 100%; }
  }
}

.idiomas{
  display:flex;
  flex-direction: row;
  gap:0.5rem;
}
.opciones{
  background: transparent;
  border: 1px solid rgba(56, 43, 43, 0.06);
  border-radius: 8px;
  color: #a8a77a;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;

  cursor: pointer;
  font-family:'DM Mono', monospace;
  font-size: 0.78rem;
  letter-spacing: 0.08em;
}
.opciones:hover{
  border-color: #ffe263; 
  color:  #f0f6ff;
}

.img-idioma{
  width:20px;
  height:15px;
  border-radius: 2px; 
}
.activo{
  background: rgba(99, 195, 255, 0.08) !important;
  color: #ffe263 !important;
  font-weight: bold;
  border-bottom: 1px solid #ffe263 !important;
}

.btn-salir {
  padding: 0 18px;
  height: 38px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffe263;
  border-radius: 8px;
  font-size: 0.98rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(99,195,255,0.08);
  transition: background 0.2s, color 0.2s, transform 0.1s;

  &:hover {
    background: #ffe263;
    color: #222b3a;
    transform: translateY(-1px) scale(1.04);
  }
}